{% extends 'base.html'%}
{% import 'macros.html' as macro%}



{% block content %}
<div class="jumbotron" style="margin-top: -1cm; background-image: url(../static/images/new.jpg);background-size: cover;">
    <div class="container p-5">
        <strong><h2 style="color: rgb(235, 235, 243);text-shadow: 1px solid white;">Welcome, Read your Favorite</h2></strong><br>
        <p style="color: rgb(231, 231, 241);text-shadow: 1px solid white;">Preview news articles from various sources</p><br>
    </div>
</div>
<div class="container">

    <div class="card row m-1">
        <h3>GENERAL NEWS</h3>
        {{macro.displayNewsList(general)}}
    </div>

    <div class="card row m-1">
        <h3>BUSINESS NEWS</h3>
        {{macro.displayNewsList(business)}}
    </div>
    
    <div class="card row m-1">
        <h3>HEALTH NEWS</h3>
        {{ macro.displayNewsList(health) }}
    </div>

    <div class="card row m-1">
        <h3>SPORTS NEWS</h3>
        {{ macro.displayNewsList(sports) }}
    </div>

    <div class="card row m-1">
        <h3>ENTERTAINMENT NEWS</h3>
        {{ macro.displayNewsList(entertainment) }}
    </div>
   
    <div class="card row m-1">
        <h3>TECHNOLOGY NEWS</h3>
        {{ macro.displayNewsList(technology) }}
    </div>

    <div class="card row m-1">
        <h3>SCIENCE NEWS</h3>
        {{macro.displayNewsList(science)}}
    </div>
</div>

{% endblock %}